EXP4:study of set in python
Arhan Nair
25070123169

In [ ]:
#stored values in  unordered manner
#removes duplicates
set={"apple","banana","cherry","apple"}
print(set)
set.add("kiwi")
print(set)
set.remove("apple")
print(set)

{'apple', 'cherry', 'banana'}
{'kiwi', 'apple', 'cherry', 'banana'}
{'kiwi', 'cherry', 'banana'}

In [ ]:
set1={1,2,3,4}
set2={3,4,5,6}
print("union",set1|set2)
print("intersection",set1&set2)
print("diffrance",set1-set2)
print("diffrance",set2-set1)
print("dissimiliar",set1^set2)

union {1, 2, 3, 4, 5, 6}
intersection {3, 4}
diffrance {1, 2}
diffrance {5, 6}
dissimiliar {1, 2, 5, 6}

In [ ]:
set=frozenset({"apple","banana","oranage"})
print(set)

frozenset({'apple', 'oranage', 'banana'})

In [ ]:
l=["arhan","aadit","bob","arhan","aadit","john"]
unique=__builtins__.set(l)
print(unique)

{'bob', 'aadit', 'john', 'arhan'}

In [ ]:
stu1={"math","hindi","python"}
stu2={"sanskrit","physics","python"}
stu3={"marhathi","chemistry","python"}
print("all common subjects are:",stu1&stu2&stu3)

all common subjects are: {'python'}

In [ ]:
c={"a","b","c","d"}
f={"c","d","e","f"}
print("in both",c&f)
print("cricket only",c-f)
print("football only",f-c)

in both {'c', 'd'}
cricket only {'b', 'a'}
football only {'e', 'f'}

In [ ]:
all_students = {"A", "B", "C", "D", "E"}
present_students = {"A", "C", "E"}

absent_students = all_students - present_students

print("All Students:", all_students)
print("Present Students:", present_students)
print("Absent Students:", absent_students)

All Students: {'A', 'C', 'E', 'D', 'B'}
Present Students: {'A', 'C', 'E'}
Absent Students: {'D', 'B'}

In [ ]:
my_courses = {"CS101", "MA201", "PH305", "CH101"}
print(f"Original courses: {my_courses}")
my_courses.remove("MA201")
print(f"After removing 'MA201' with remove(): {my_courses}")
print(f"Courses after attempting to remove non-existent 'PY402': {my_courses}")
my_courses.discard("CH101")
print(f"After discarding 'CH101' with discard(): {my_courses}")
my_courses.discard("EE300")
print(f"Courses after attempting to discard non-existent 'EE300': {my_courses}")

Original courses: {'CS101', 'MA201', 'PH305', 'CH101'}
After removing 'MA201' with remove(): {'CS101', 'PH305', 'CH101'}
Courses after attempting to remove non-existent 'PY402': {'CS101', 'PH305', 'CH101'}
After discarding 'CH101' with discard(): {'CS101', 'PH305'}
Courses after attempting to discard non-existent 'EE300': {'CS101', 'PH305'}